<!-- Display weather search results 
     i.e.Temperature for the location -->

<h3> <%= params[:postcode] %>% : </h3>
<br>

<h2> <%= @temperature.to_i%> Degrees C </h2>

<!-- Calling Helper method -->
<%= temperature%>